.navbar {
    display: flex;
    padding: 1 em;
    border-bottom: 1px solid black;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 10px;
   
}

.navbar div{
    width: 80%;
    margin-left: 350px;
}


.navbar aside{
    width: 20%;
    margin-right: 50px;
}

.navbar div li {
    margin-right: 50px;
}

.navbar aside li {
    margin-right: 20px;
}
