.card {
    width: 280px;
    height: 320px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px 3px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgb(251, 248, 248) 0px 2px 5px;
}

.card button {
    display: block;
    justify-content: left;
    text-align: center;
    margin-left: 10px;
}