.timeline {
    display:flex;
    justify-content:space-between;
    width: 80%;
    margin-left: 10%;
    border-bottom: 3px solid aliceblue;
   
}

.checkpoint {
    position: relative;
    width: 20%;
}

.timelinedow {
    display:flex;
    justify-content:space-between;
    width: 80%;
    margin-left: 10%;
}

.checkpointdow {
    position: relative;
    width: 20%;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {

    content: '';
    background: #FFF;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position:absolute;
    top: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
}
